@using PathToMyRootsWebApp.Constants

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData[PageDataKeys.PageTitle] - Path To My Roots</title>
    <link rel="stylesheet" href="~/css/custom.css" />
    <link rel="stylesheet" href="~/css/style.min.css" />
    <link rel="stylesheet" href="~/css/libs/cropper.css" />
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500&display=swap" rel="stylesheet">
    @RenderSection("Styles", required: false)
</head>
<body>
    <div class="success-popup-container fade-hidden">
        <div class="popup-message-and-close-button-container">
            <span class="popup-message"></span>
            <button class="popup-close-button">×</button>
        </div>
        <div class="popup-loading-bar">
            <div class="popup-loading-bar-inner-div"></div>
        </div>
    </div>
    <div class="error-popup-container fade-hidden">
        <div class="popup-message-and-close-button-container">
            <span class="popup-message"></span>
            <button class="popup-close-button">×</button>
        </div>
        <div class="popup-loading-bar"></div>
    </div>
    <div class="nav-and-right-container">
        <nav class="nav-container">
            <a class="nav-logo-container-hyperlink" asp-controller="Home" asp-action="Home">
                <img class="nav-logo-image" src="~/icons/path-to-my-roots.svg">
                <h2 style="white-space: nowrap; margin-top: 0px; margin-bottom: 0px;">Path To My Roots</h2>
            </a>
            <ul class="nav-ul">
                <li class="nav-li @(ViewContext.RouteData.Values["controller"]?.ToString() == "Person" && ViewContext.RouteData.Values["action"]?.ToString() == "AddPerson" ? "active" : "")">
                    <h2 style="margin: 0px">
                        <a class="nav-a" asp-controller="Person" asp-action="AddPerson">Add Person</a>
                    </h2>
                </li>
                <li class="nav-li @(ViewContext.RouteData.Values["controller"]?.ToString() == "Person" && ViewContext.RouteData.Values["action"]?.ToString() == "Persons" ? "active" : "")">
                    <h2 style="margin: 0px">
                        <a class="nav-a" asp-controller="Person" asp-action="Persons">Persons</a>
                    </h2>
                </li>
            </ul>
        </nav>

        <div class="right-container">

            <div class="top-container">

                <div class="theme-switcher-container">
                    <label class="switch-control">
                        <input type="checkbox" id="theme-toggle">
                        <span class="slider-rectangle"></span>
                    </label>
                    <span id="theme-span">Light Theme</span>
                </div>

            </div>

            <main class="page-data-container">
                @RenderBody()
            </main>
        </div>
    </div>

    <div class="footer-container">
        <a class="footer-logo-container-hyperlink" asp-controller="Home" asp-action="Home">
            <img class="footer-logo-img" src="~/icons/path-to-my-roots.svg">
            <h3 style="margin-right: 10px;">Path To My Roots</h3>
        </a>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/date-fns@latest"></script>
    <script src="~/js/layout.js" asp-append-version="true"></script>
    <script src="~/js/common/loading-text.js"></script>
    <script src="~/js/common/message-codes.js"></script>
    <script src="~/js/common/utils.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        showSuccessPopup('@ViewData[PageDataKeys.SuccessCode]');
        showErrorPopup('@ViewData[PageDataKeys.ErrorCode]');
        showSuccessPopup('@TempData[PageDataKeys.SuccessCode]');
        showErrorPopup('@TempData[PageDataKeys.ErrorCode]');
    });
</script>