@using PathToMyRootsSharedModels.Utils
@using PathToMyRootsWebApp.Constants
@using PathToMyRootsWebApp.Utils
@model PathToMyRootsWebApp.Models.PersonsPageModel

<table id="persons-table"
       data-current-page-number="@Model.CurrentPageNumber"
       data-total-number-of-pages="@Model.TotalNumberOfPages">
    <thead>
        <tr>
            <th class="td-shrink">
                <img class="persons-img" style="height: 0" src="https://localhost:7241/api/Image/get/missingImage.png" />
            </th>
            <th>Noble Title</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Maiden Name</th>
            <th>Other Names</th>
            <th>Birth Date</th>
            <th>Death Date</th>
            <th>Father</th>
            <th>Mother</th>
            <th>Adoptive Father</th>
            <th>Adoptive Mother</th>
            <th>First Spouse</th>
            <th>First Marriage</th>
            <th>Second Spouse</th>
            <th>Second Marriage</th>

            <th class="td-shrink">
                <a class="hidden">
                    <svg class="persons-action-img">
                        <use xlink:href="@Url.Content("~/icons/icons.svg#tree")"></use>
                    </svg>
                </a>
                <a class="hidden">
                    <svg class="persons-action-img">
                        <use xlink:href="@Url.Content("~/icons/icons.svg#edit")"></use>
                    </svg>
                </a>
                <form class="hidden">
                    <button class="persons-action-button">
                        <svg class="persons-action-img">
                            <use xlink:href="@Url.Content("~/icons/icons.svg#delete")"></use>
                        </svg>
                    </button>
                </form>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model.PaginatedPersonModels)
        {
            <tr>
                <td class="td-shrink">
                    <img class="persons-img" src="https://localhost:7241/api/Image/get/@(person.ImageUrl ?? "missingImage.png")" />
                </td>
                <td>@person.NobleTitle</td>
                <td>@person.FirstName</td>
                <td>@person.LastName</td>
                <td>@person.MaidenName</td>
                <td>@person.OtherNames</td>
                <td>@DateHelper.ConvertDatabaseDateToHumanReadableDateFormat(person.BirthDate)</td>
                <td>@DateHelper.ConvertDatabaseDateToHumanReadableDateFormat(person.DeathDate)</td>
                <td>
                    @if (person.BiologicalFather == null)
                    {
                        <span>@PathToMyRootsWebAppConstants.UnknownValue</span>
                    }
                    else
                    {
                        <a asp-action="PersonDetails" asp-controller="Person" asp-route-id="@person.BiologicalFatherId">
                            @PersonModelFormatter.ToFullNameAndBirthDate(person.BiologicalFather)
                        </a>
                    }
                </td>
                <td>
                    @if (person.BiologicalMother == null)
                    {
                        <span>@PathToMyRootsWebAppConstants.UnknownValue</span>
                    }
                    else
                    {
                        <a asp-action="PersonDetails" asp-controller="Person" asp-route-id="@person.BiologicalMotherId">
                            @PersonModelFormatter.ToFullNameAndBirthDate(person.BiologicalMother)
                        </a>
                    }
                </td>
                <td>
                    @if (person.AdoptiveFather == null)
                    {
                        <span>@PathToMyRootsWebAppConstants.UnknownValue</span>
                    }
                    else
                    {
                        <a asp-action="PersonDetails" asp-controller="Person" asp-route-id="@person.AdoptiveFatherId">
                            @PersonModelFormatter.ToFullNameAndBirthDate(person.AdoptiveFather)
                        </a>
                    }
                </td>
                <td>
                    @if (person.AdoptiveMother == null)
                    {
                        <span>@PathToMyRootsWebAppConstants.UnknownValue</span>
                    }
                    else
                    {
                        <a asp-action="PersonDetails" asp-controller="Person" asp-route-id="@person.AdoptiveMotherId">
                            @PersonModelFormatter.ToFullNameAndBirthDate(person.AdoptiveMother)
                        </a>
                    }
                </td>
                <td>
                    @if (person.FirstSpouse == null)
                    {
                        <span>@PathToMyRootsWebAppConstants.UnknownValue</span>
                    }
                    else
                    {
                        <a asp-action="PersonDetails" asp-controller="Person" asp-route-id="@person.FirstSpouseId">
                            @PersonModelFormatter.ToFullNameAndBirthDate(person.FirstSpouse)
                        </a>
                    }
                </td>
                <td>
                    @if (person.FirstMarriageStartDate == null)
                    {
                        <span>@PathToMyRootsWebAppConstants.UnknownValue</span>
                    }
                    else
                    {
                        <span>@DateHelper.ConvertDatabaseDateToHumanReadableDateFormat(person.FirstMarriageStartDate) - @DateHelper.ConvertDatabaseDateToHumanReadableDateFormat(person.FirstMarriageEndDate)</span>
                    }
                </td>
                <td>
                    @if (person.SecondSpouse == null)
                    {
                        <span>@PathToMyRootsWebAppConstants.UnknownValue</span>
                    }
                    else
                    {
                        <span>@PersonModelFormatter.ToFullNameAndBirthDate(person.SecondSpouse)                        </span>
                    }
                </td>
                <td>
                    @if (person.SecondMarriageStartDate == null)
                    {
                        <span>@PathToMyRootsWebAppConstants.UnknownValue</span>
                    }
                    else
                    {
                        <a asp-action="PersonDetails" asp-controller="Person" asp-route-id="@person.SecondSpouseId">
                            @DateHelper.ConvertDatabaseDateToHumanReadableDateFormat(person.SecondMarriageStartDate) - @DateHelper.ConvertDatabaseDateToHumanReadableDateFormat(person.SecondMarriageEndDate)
                        </a>
                    }
                </td>
                <td class="td-shrink">
                    <a asp-action="Tree" asp-controller="Tree" asp-route-id="@person.Id">
                        <svg class="persons-action-img" title="View Tree">
                            <use xlink:href="@Url.Content("~/icons/icons.svg#tree")"></use>
                        </svg>
                    </a>
                    <a asp-action="EditPerson" asp-controller="Person" asp-route-id="@person.Id">
                        <svg class="persons-action-img" title="Edit">
                            <use xlink:href="@Url.Content("~/icons/icons.svg#edit")"></use>
                        </svg>
                    </a>
                    <form asp-action="DeletePerson" asp-controller="Person" method="post">
                        <input type="hidden" name="id" value="@person.Id" />
                        <button type="submit" class="persons-action-button">
                            <svg class="persons-action-img" title="Delete">
                                <use xlink:href="@Url.Content("~/icons/icons.svg#delete")"></use>
                            </svg>
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>