@using PathToMyRootsWebApp.Constants
@using PathToMyRootsWebApp.Utils
@using PathToMyRootsWebApp.Models
@model PathToMyRootsWebApp.Models.PersonModel

<div>
    <h1>
        @if (Model?.Id > PathToMyRootsWebAppConstants.UnsetIntValue)
        {
            @:Edit Person
        }
        else
        {
            @:Add Person
        }
    </h1>

    <form asp-action="@((Model?.Id > PathToMyRootsWebAppConstants.UnsetIntValue) ? "EditPerson" : "AddPerson")" method="post" style="display: inline-block">
        @if (Model?.Id > 0)
        {
            <input type="hidden" name="Id" value="@Model.Id" />
        }
        <div class="person-input-sections-container">
            <div class="person-input-labels-container">
                <label for="noble-title" >Noble Title:</label>
                <label for="first-name">First Name:</label>
                <label for="last-name">Last Name:</label>
                <label for="maiden-name">Maiden Name:</label>
                <label for="other-names">Other Names:</label>
            </div>
            <div class="person-inputs-container">
                <input type="text" id="noble-title" name="NobleTitle" value="@Model?.NobleTitle" />
                <input type="text" id="first-name" name="FirstName" value="@Model?.FirstName" />
                <input type="text" id="last-name" name="LastName" value="@Model?.LastName" />
                <input type="text" id="maiden-name" name="MaidenName" value="@Model?.MaidenName" />
                <input type="text" id="other-names" name="OtherNames" value="@Model?.OtherNames" />
            </div>
        </div>

        <div class="person-input-bordered-sections-container">
            <div class="person-bordered-section">
                <label>Birth Date:</label>
                <fieldset>
                    <label>
                        <input type="radio" name="input-radio-birth" id="input-radio-birth-date-unknown" onclick="toggleBirthDate()"
                        @if (Model?.BirthDate == null || Model?.BirthDate == DateHelper.UnknownServerDate)
                        {
                            @:checked
                        } />
                        Unknown
                    </label>
                    <label>
                        <input type="radio" name="input-radio-birth" id="input-radio-birth-date-concrete-date" onclick="toggleBirthDate()"
                        @if (Model?.BirthDate != null && Model.BirthDate != DateHelper.UnknownServerDate)
                        {
                            @:checked
                        } />Date
                    </label>
                    <input type="text" id="input-birth-date" placeholder="@DateHelper.InputDateFlatFormat"
                    @if (Model?.BirthDate != null && Model.BirthDate != DateHelper.UnknownServerDate)
                    {
                        @:value="@DateHelper.ServerDateToInputDate(@Model.BirthDate)"
                    } />
                    <input type="hidden" id="input-hidden-birth-date" name="BirthDate" value="@DateHelper.ServerDateToInputDate(@Model.BirthDate)" />
                </fieldset>
            </div>

            <div class="person-bordered-section">
                <label>Death Date:</label>
                <fieldset>
                    <label>
                        <input type="radio" name="input-radio-death" id="input-radio-death-date-alive" onclick="toggleDeathDate()"
                        @if (Model?.DeathDate == null)
                        {
                            @:checked
                        } />Alive
                    </label>
                    <label>
                        <input type="radio" name="input-radio-death" id="input-radio-death-date-unknown" onclick="toggleDeathDate()"
                        @if (Model?.DeathDate == DateHelper.UnknownServerDate)
                        {
                            @:checked
                        } />Unknown
                    </label>
                    <label>
                        <input type="radio" name="input-radio-death" id="input-radio-death-date-concrete-date" onclick="toggleDeathDate()"
                        @if (Model?.DeathDate != null && Model.DeathDate != DateHelper.UnknownServerDate)
                        {
                            @:checked
                        } />Date
                    </label>
                    <input type="text" id="input-death-date" placeholder="@DateHelper.InputDateFlatFormat"
                        @if (Model?.DeathDate != null && Model.DeathDate != DateHelper.UnknownServerDate)
                        {
                            @:value="@DateHelper.ServerDateToInputDate(@Model.DeathDate)"
                        } />
                    <input type="hidden" id="input-hidden-death-date" name="DeathDate" value="@DateHelper.ServerDateToInputDate(@Model.DeathDate)" />
                </fieldset>
            </div>
        </div>

        <div class="person-input-sections-container">
            <div class="person-input-labels-container">
                <label for="is-male">Gender:</label>
                <label for="biological-father-id">Biological Father:</label>
                <label for="biological-mother-id">Biological Mother:</label>
                <label for="adoptive-father-id">Adoptive Father:</label>
                <label for="adoptive-mother-id">Adoptive Mother:</label>
            </div>
            <div class="person-inputs-container">
                <select id="is-male" name="IsMale">
                    <option value="true" selected="@(Model?.IsMale == true)">Male</option>
                    <option value="false" selected="@(Model?.IsMale == false)">Female</option>
                </select>
                <select id="biological-father-id" name="BiologicalFatherId">
                    <option value="">-- Select Biological Father --</option>
                    @foreach (var father in (List<PersonModel>)ViewBag.Fathers)
                    {
                        <option value="@father.Id" selected=@(Model?.BiologicalFatherId == father.Id)>
                            @PersonModelFormatter.ToShortFullInfo(father)
                        </option>
                    }
                </select>
                <select id="biological-mother-id" name="BiologicalMotherId">
                    <option value="">-- Select Biological Mother --</option>
                    @foreach (var mother in (List<PersonModel>)ViewBag.Mothers)
                    {
                        <option value="@mother.Id" selected=@(Model?.BiologicalMotherId == mother.Id)>
                            @PersonModelFormatter.ToShortFullInfo(mother)
                        </option>
                    }
                </select>
                <select id="adoptive-father-id" name="AdoptiveFatherId">
                    <option value="">-- Select Adoptive Father --</option>
                    @foreach (var father in (List<PersonModel>)ViewBag.Fathers)
                    {
                        <option value="@father.Id" selected=@(Model?.AdoptiveFatherId == father.Id)>
                            @PersonModelFormatter.ToShortFullInfo(father)
                        </option>
                    }
                </select>
                <select id="adoptive-mother-id" name="AdoptiveMotherId">
                    <option value="">-- Select Adoptive Mother --</option>
                    @foreach (var mother in (List<PersonModel>)ViewBag.Mothers)
                    {
                        <option value="@mother.Id" selected=@(Model?.AdoptiveMotherId == mother.Id)>
                            @PersonModelFormatter.ToShortFullInfo(mother)
                        </option>
                    }
                </select>
            </div>
        </div>

        <div class="person-input-sections-container">
            <div class="person-input-labels-container">
                <label for="first-spouse-id">First Spouse:</label>
            </div>
            <div class='person-inputs-container'>
                <select id="first-spouse-id" name="FirstSpouseId" onchange="firstSpouseIdChanged()">
                    <option value="">-- Select First Spouse --</option>
                    @foreach (var spouse in (List<PersonModel>)ViewBag.Spouses)
                    {
                        <option value="@spouse.Id" selected=@(Model?.FirstSpouseId == spouse.Id)>
                            @PersonModelFormatter.ToShortFullInfo(spouse)
                        </option>
                    }
                </select>
                <div class="person-input-bordered-sections-container" id="person-input-bordered-sections-container" style="display: none;">
                    <div class="person-bordered-section">
                        <label>First Marriage Start Date:</label>
                        <fieldset>
                            <label>
                                <input type="radio" name="input-radio-first-marriage-start-date" id="input-radio-first-marriage-start-date-unknown" onclick="toggleFirstMarriageStartDate()"
                                @if (Model?.FirstMarriageStartDate == null || Model?.FirstMarriageStartDate == DateHelper.UnknownServerDate)
                                {
                                    @:checked
                                } />
                                Unknown
                            </label>
                            <label>
                                <input type="radio" name="input-radio-first-marriage-start-date" id="input-radio-first-marriage-start-date-concrete-date" onclick="toggleFirstMarriageStartDate()"
                                @if (Model?.FirstMarriageStartDate != null && Model.FirstMarriageStartDate != DateHelper.UnknownServerDate)
                                {
                                    @:checked
                                } />Date
                            </label>
                            <input type="text" id="input-first-marriage-start-date" placeholder="@DateHelper.InputDateFlatFormat"
                            @if (Model?.FirstMarriageStartDate != null && Model.FirstMarriageStartDate != DateHelper.UnknownServerDate)
                            {
                                @:value="@DateHelper.ServerDateToInputDate(@Model.FirstMarriageStartDate)"
                            } />
                            <input type="hidden" id="input-hidden-first-marriage-start-date" name="FirstMarriageStartDate" value="@DateHelper.ServerDateToInputDate(@Model.FirstMarriageStartDate)" />
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <div class="person-input-sections-container">
            <div class="person-input-labels-container">
                <label for="ImageUrl">Image:</label>
            </div>
            <div class="person-inputs-container">
                <input type="file" id="input-image-url" accept="image/*" style="display: none" />
                <button id="button-upload-image">Select Image...</button>
                <input type="hidden" id="input-hidden-image-url" name="ImageUrl" value="@Model?.ImageUrl" />
            </div>
        </div>

        <div class="person-input-sections-container">
            <div id="person-preview-image-container" class="person-preview-image-container">
                <img id="img-preview-image" style="max-width: 100%" />
                <button id="button-remove-image" class="action-button-on-image">
                    <svg class="person-action-img">
                        <use xlink:href="@Url.Content("~/icons/icons.svg#delete")"></use>
                    </svg>
                </button>
            </div>
        </div>

        <div id="person-cropper-background-container" style="display: none;">
            <div id="person-cropper-image-and-button-container">
                <img id="person-image-to-crop" />
                <button id="confirm-crop-button">Confirm Crop</button>
            </div>
        </div>

        <div style="display: block; text-align: right;">
            @if (Model?.Id == PathToMyRootsWebAppConstants.UnsetIntValue)
            {
                <button type="submit">Add</button>
            }
            else
            {
                <button type="submit">Update</button>
            }
        </div>
    </form>
</div>

@section Scripts {
    <script>
        const DateInputPattern = '@Html.Raw(DateHelper.InputDateValidationPattern)';
        const UnknownInputDate = '@Html.Raw(DateHelper.UnknownInputDate)';
        const DateInputFlatFormat = '@Html.Raw(DateHelper.InputDateFlatFormat)';
    </script>

    <script src="~/js/libs/cropper.js"></script>
    <script src="~/js/add-edit-person.js"></script>
}