@using PathToMyRootsWebApp.Utils
@model List<PathToMyRootsWebApp.Models.PersonModel>

@{
    ViewData["Title"] = "Persons";
}

<h1>@ViewData["Title"]</h1>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Maiden Name</th>
                <th>Other Names</th>
                <th>Gender</th>
                <th>Birthdate</th>
                <th>Deathdate</th>
                <th>Mother Name</th>
                <th>Father Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in Model)
            {
                <tr>
                    <td>@person.FirstName</td>
                    <td>@person.LastName</td>
                    <td>@person.MaidenName</td>
                    <td>@person.OtherNames</td>
                    <td>@PersonModelFormatter.ToGender(person)</td>
                    <td>@DateFormatter.ToHumanReadableDateFormat(person.BirthDate)</td>
                    <td>@DateFormatter.ToHumanReadableDateFormat(person.DeathDate)</td>
                    <td>@PersonModelFormatter.ToShortFullName(person.BiologicalMother)</td>
                    <td>@PersonModelFormatter.ToShortFullName(person.BiologicalFather)</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No persons found.</p>
}